Pillow  
opencv-python>=2.4.9
scikit-image 
blendmodes
clean-fid
facexlib
kornia
piexif
resize-right
pillow-avif-plugin==1.4.3
torch
transformers==4.30.2
pytorch_lightning
open-clip-torch
tomesd
torchdiffeq
torchsde
diffusers==0.15.0
xformers==0.0.23.post1
accelerate>=0.26.0  
numpy
einops
networkx
tensorboardX
GitPython
diskcache
fastapi>=0.90.1
gradio==3.41.2
huggingface-hub==0.23.2
inflection
jsonmerge
lark
omegaconf
protobuf==3.20.0
psutil
requests
safetensors
pyyaml
imutils
cvbase  
tqdm
pycocotools
ipdb